certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
DateTime==4.3
ffmpeg-python==0.2.0
Flask==2.0.1
Flask-Cors==3.0.10
future==0.18.2
idna==3.2
importlib-metadata==4.6.4
itsdangerous==2.0.1
Jinja2==3.0.1
jsonify==0.5
MarkupSafe==2.0.1
python-dotenv==0.19.0
pytz==2021.1
requests==2.26.0
six==1.16.0
typing-extensions==3.10.0.0
urllib3==1.26.6
Werkzeug==2.0.1
zipp==3.5.0
zope.interface==5.4.0
